/**
 * @name Blurple Theme
 * @author Core#1034
 * @version 1.0.0
 * @description Normal discord theme but darker.
*/

/* Blurple Recolour */
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css');

/* Better Badges */
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');

:root {
    /* Blurple Recolour */
    --accentcolor:			0,170,255;		/*	blurple		-	default:	88,101,242		*/
	--accentcolor2:			0,170,255;	/*	boostpink	-	default:	255,115,250		*/
	--linkcolor:			0,170,255;		/*	link		-	default:	0,176,244		*/

    /* Better Badges */
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/

    /* Original Configuration */
    --background: #0b0d0f !important;
    --background-primary: #090a0c !important;
    --background-secondary: #060708 !important;
    --background-secondary-alt: #080a0c !important;
    --background-tertiary: #090a0c !important;
    --background-floating: #090a0c !important;
    --background-alt: #0f1114 !important;
    --background-light: #1B1F25 !important;
    --background-modifier-selected: #171b20 !important;
    --channeltextarea-background: #101216 !important;

    /* Updated Configuration */
    --background-primary: #090a0c;
    --background-alt: #0f1114;
	--background-secondary: #060708;
    --background-secondary-alt: #080a0c;
	--background-tertiary: #090a0c;
	--scrollbar-thin-thumb: #5865F2;
	--scrollbar-auto-thumb: #5865F2;
	--scrollbar-auto-track: #00000000;
	--brand-experiment: #5865F2;
	--interactive-normal: #FFF;
	--interactive-hover: #FFF;
	--interactive-active: #FFF;
	--channeltextarea-background: #101216;
	--channeltextarea-foregorund: #fff;
	--background-secondary-alt: #262626;
	--background-floating: #090a0c;
	--background-accent: #5865F2;
	--activity-card-background: #1c1d2b;
	--elevation-low: #00FF00;
	--background-modifier-selected: #5865F2;
	--background-modifier-hover: #5865F29C;
	--background-modifier-active: #5865F2;
	--text-muted: #aaa;
	--background-mentioned: #404eed17;
	--background-mentioned-hover: #404eed2e;
}

/* Fixes for January Patch */
.theme-dark .container-2cd8Mz {
	background-color: transparent !important;
}

.theme-dark .root-g14mjS {
    background-color: var(--background) !important;
}

.footer-31IekZ {
    background-color: var(--background) !important;
}

/* Colours */
.theme-dark #app-mount .container-1D34oG {
    background-color: var(--background-primary) !important;
}

.theme-dark #app-mount .paymentPane-3bwJ6A {
    background-color: #101216 !important;
}

.theme-dark #app-mount .paginator-166-09, .payment-xT17Mq {
    background-color: #171A1F !important;
}

.theme-dark #app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-secondary);
}

.theme-dark #app-mount .lookBlank-3eh9lL { /* Create Server Back Buttons */
  color: #ffffff !important;
}

.theme-dark #app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC { /*Settings > Voice & Video > Video Settings Preview*/
  background-color: var(--background-tertiary);
  border-color: transparent;
}

.theme-dark #app-mount .notDetected-33MY4s { /*Settings > Activity Status > No Game Detected Bar*/
  background-color: var(--background-tertiary);
}

.theme-dark #app-mount .tierHeaderLocked-3S508x { /*Server Settings > Server Boost Status > Level Headers */
  background-color: var(--background-tertiary);
}

.theme-dark #app-mount .tierBody-3aUxuc { /*Server Settings > Server Boost Status > Level Content */
  background-color: var(--background-primary);
}

.theme-dark #app-mount .container-3auIfb { /*Various Toggle Buttons*/
  background-color: var(--background-alt) !important;
}

.theme-dark #app-mount .root-1gCeng {
    background-color: var(--background-tertiary);
}

.theme-dark #app-mount .footer-1FPmkC, .theme-dark #app-mount .footer-2gL1pp {
    background-color: var(--background-secondary);
}
