[submodule ".private-dots"]
	path = .private-dots
	url = https://github.com/coredev-uk/private-dots.git
[submodule ".config/.config/nvim"]
	path = .config/.config/nvim
	url = https://github.com/NvChad/NvChad
