/* *****************************************************
	Notification center
*********************************************************/

/* ********
Notifications in the Notificaiton Center
********** */

/* Appname */
label.deadd-noti-center.in-center.appname {

}

/* Textbody */
label.deadd-noti-center.in-center.body {
}

/* Notification title */
label.deadd-noti-center.in-center.title {

}

/* Notification time */
label.deadd-noti-center.in-center.time {
	font-size: 12px;
}

/* Image of a notification */
image.deadd-noti-center.in-center.image {

}
	
/* Appicon */
image.deadd-noti-center.in-center.icon {

}

/* In Center Notification */
image.deadd-noti-center.in-center {

}

/* In Center Notification (Critical) */
image.deadd-noti-center.in-center.critical {
	background: rgba(155, 0, 20, 0.5);
}
	
/* Close button on notification */
button.deadd-noti-center.in-center.button-close {

}

/* ********
Notification Center Normal
********** */

/* The big time at the top */
label.deadd-noti-center.noti-center.time {
	font-size: 32px;
}

/* The date text */
label.deadd-noti-center.noti-center.date {

}

/* Delete all button */
label.deadd-noti-center.noti-center.delete-all {

}

/* Blurred Background */
.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
	background: rgba(0, 0, 0, 0.5);
}

/* *****************************************************
	Notifications
*********************************************************/

/* Notification */
deadd.notif-center.notification {
  padding: 0px;
}

/* Appname */
label.deadd-noti-center.notification.appname {
	font-size: 12px;
	margin: 10px 0px 0px 0px;
}
	
/* Textbody */
label.deadd-noti-center.notification.body {
	font-size: 14px; 
}

/* Notification title */
label.deadd-noti-center.notification.title {
	font-weight: bold;
	font-size: 16px;
}

/* Image of a notification */
image.deadd-noti-center.notification.image {
	margin: 0px;
}
	
/* Appicon */
image.deadd-noti-center.notification.icon {
	margin: 10px 0px 0px 0px;
}

/* Notification Blurred BG */
image.deadd-noti-center.blurredBG.notification {
	background:  rgba(0, 0, 0, 0.5);
}

/* Notification Blurred BG (Critical Notifications) */
image.deadd-noti-center.blurredBG.notification.critical {
	background: rgba(237, 66, 69, 0.8);
}

/* *****************************************************
	Notification Labels
*********************************************************/

label {
	color: #fff;
}

label.notification {
	color: #fff;
}

label.critical {
	color: #fff;
}
.notificationInCenter label.critical {
	color: #000;
}


/* *****************************************************
	Notification Buttons
*********************************************************/

button {
	background: transparent;
	color: #322;
	border-radius: 3px;
	border-width: 0px;
	background-position: 0px 0px;
	text-shadow: none;
}

button:hover {
	border-radius: 3px;
	background: rgba(0, 20, 20, 0.2);
	border-width: 0px;
	border-top: transparent;
	border-color: #f00;
	color: #fee;
}


/* *****************************************************
	Notification Custom Buttons
*********************************************************/

.userbutton {
	background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
	color: #222;
	font-size: 12px;
}

.userbutton:hover {
	background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
	color: #111;
}

button.buttonState1 {
	background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
	color: #fff;
}

button.buttonState1:hover {
	background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
	color: #111;
}

button.buttonState2 {
	background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
	color: #111;
}

button.buttonState2:hover {
	background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
	color: #000;
}
